### Access the third column of the index dataframe

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('index.csv')

In [3]:
df

     A  B   C   D  E  F      G      H       I     J  K  L
0    C  A   8   0  S  0   COIL  0.700   610.0     0  0  3
1    C  R   0   0  S  0   COIL  3.200   610.0     0  0  3
2    C  R   0   0  S  0  SHEET  0.700  1300.0   762  0  3
3    C  A   0  60  ?  0   COIL  2.801   385.1     0  0  3
4    C  A   0  60  ?  0  SHEET  0.801   255.0   269  0  3
..  .. ..  ..  .. .. ..    ...    ...     ...   ... .. ..
252  C  A   0  60  ?  0   COIL  0.799   609.0     0  0  3
253  C  R   6   0  ?  0  SHEET  1.000   610.0  4880  0  3
254  C  A   0  50  ?  0   COIL  0.600    20.0     0  0  3
255  C  K  45   0  ?  0   COIL  0.600   900.0     0  0  3
256  C  R   6   0  ?  0  SHEET  1.000   610.0   762  0  3

[257 rows x 12 columns]

In [4]:
df[df['G']=='COIL']

     A  B   C   D  E  F     G      H      I  J  K  L
0    C  A   8   0  S  0  COIL  0.700  610.0  0  0  3
1    C  R   0   0  S  0  COIL  3.200  610.0  0  0  3
3    C  A   0  60  ?  0  COIL  2.801  385.1  0  0  3
5    C  A   0  45  S  0  COIL  1.600  610.0  0  0  3
7    C  A   0   0  S  0  COIL  3.300  152.0  0  0  3
..  .. ..  ..  .. .. ..   ...    ...    ... .. .. ..
247  C  R   0   0  S  0  COIL  0.901  966.0  0  0  3
249  C  A   0   0  S  0  COIL  0.800   75.0  0  0  3
252  C  A   0  60  ?  0  COIL  0.799  609.0  0  0  3
254  C  A   0  50  ?  0  COIL  0.600   20.0  0  0  3
255  C  K  45   0  ?  0  COIL  0.600  900.0  0  0  3

[129 rows x 12 columns]

In [9]:
df.loc[:,['D','E']]

      D  E
0     0  S
1     0  S
2     0  S
3    60  ?
4    60  ?
..   .. ..
252  60  ?
253   0  ?
254  50  ?
255   0  ?
256   0  ?

[257 rows x 2 columns]

In [5]:
df['C']

0       8
1       0
2       0
3       0
4       0
       ..
252     0
253     6
254     0
255    45
256     6
Name: C, Length: 257, dtype: int64

### Access the last two columns of the index dataframe using the iloc function

In [6]:
df.iloc[:,10:12]

     K  L
0    0  3
1    0  3
2    0  3
3    0  3
4    0  3
..  .. ..
252  0  3
253  0  3
254  0  3
255  0  3
256  0  3

[257 rows x 2 columns]

### Access the last 10 rows and the first two columns of the index dataframe

In [7]:
df.iloc[247:, :2]

     A  B
247  C  R
248  C  A
249  C  A
250  C  R
251  C  A
252  C  A
253  C  R
254  C  A
255  C  K
256  C  R

In [8]:
df.tail

<bound method NDFrame.tail of      A  B   C   D  E  F      G      H       I     J  K  L
0    C  A   8   0  S  0   COIL  0.700   610.0     0  0  3
1    C  R   0   0  S  0   COIL  3.200   610.0     0  0  3
2    C  R   0   0  S  0  SHEET  0.700  1300.0   762  0  3
3    C  A   0  60  ?  0   COIL  2.801   385.1     0  0  3
4    C  A   0  60  ?  0  SHEET  0.801   255.0   269  0  3
..  .. ..  ..  .. .. ..    ...    ...     ...   ... .. ..
252  C  A   0  60  ?  0   COIL  0.799   609.0     0  0  3
253  C  R   6   0  ?  0  SHEET  1.000   610.0  4880  0  3
254  C  A   0  50  ?  0   COIL  0.600    20.0     0  0  3
255  C  K  45   0  ?  0   COIL  0.600   900.0     0  0  3
256  C  R   6   0  ?  0  SHEET  1.000   610.0   762  0  3

[257 rows x 12 columns]>