In [3]:
import pandas as pd 
import numpy as np

In [4]:
data = pd.read_csv('bigmart_data.csv')

In [5]:
#drop the null values 
data = data.dropna(how='any')

In [7]:
#reset index after dropping 
data = data.reset_index(drop=True)

In [8]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
4,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

There are multiple functions that can be used to perform useful aggregations on data in pandas 
- groupby
- crosstab
- pivottable

Q1: What is the mean price for each item type? :groupby

In [9]:
price_by_item = data.groupby('Item_Type')

In [13]:
#display first few rows 
price_by_item.first()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Type,,,,,,,,,,,
Baking Goods,FDP36,10.395,Regular,0.000000,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
Breads,FDW11,12.600,Low Fat,0.048981,61.9194,OUT018,2009,Medium,Tier 3,Supermarket Type2,619.1940
Breakfast,FDP49,9.000,Regular,0.069089,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
Canned,FDC02,21.350,Low Fat,0.069103,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228
Dairy,FDA15,9.300,Low Fat,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
Frozen Foods,FDR28,13.850,Regular,0.025896,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
Fruits and Vegetables,FDY07,11.800,Low Fat,0.000000,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
Hard Drinks,DRJ59,11.650,low fat,0.019356,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
Health and Hygiene,NCB42,11.800,Low Fat,0.008596,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
Household,NCD19,8.930,Low Fat,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
Meat,FDN15,17.500,Low Fat,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
Others,NCM43,14.500,Low Fat,0.019472,164.8210,OUT035,2004,Small,Tier 2,Supermarket Type1,2120.5730
Seafood,FDH21,10.395,Low Fat,0.031274,160.0604,OUT049,1999,Medium,Tier 1,Supermarket Type1,1267.6832
Snack Foods,FDO10,13.650,Regular,0.012741,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
Soft Drinks,DRC01,5.920,Regular,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
Starchy Foods,FDB11,16.000,Low Fat,0.060837,226.8404,OUT035,2004,Small,Tier 2,Supermarket Type1,6301.1312

In [14]:
#mean price bty item  
price_by_item.Item_MRP.mean()

Item_Type
Baking Goods             125.795653
Breads                   141.300639
Breakfast                134.090683
Canned                   138.551179
Dairy                    149.481471
Frozen Foods             140.095830
Fruits and Vegetables    145.418257
Hard Drinks              140.102908
Health and Hygiene       131.437324
Household                149.884244
Meat                     140.279344
Others                   137.640870
Seafood                  146.595782
Snack Foods              147.569955
Soft Drinks              130.910182
Starchy Foods            151.256747
Name: Item_MRP, dtype: float64

In [15]:
#group on multiple columns 
multiple_groups = data.groupby(['Item_Type', 'Item_Fat_Content'])
multiple_groups.first()

                               Item_Identifier  Item_Weight  Item_Visibility  \
Item_Type     Item_Fat_Content
Baking Goods  LF                         FDP24       20.600         0.083133
              Low Fat                    FDG24        7.975         0.014619
              Regular                    FDP36       10.395         0.000000
              low fat                    FDK48        7.445         0.000000
              reg                        FDT24       12.350         0.186148
...                                        ...          ...              ...
Starchy Foods LF                         FDB11       16.000         0.060797
              Low Fat                    FDB11       16.000         0.060837
              Regular                    FDB35       12.300         0.064565
              low fat                    FDE47       14.150         0.037877
              reg                        FDF11       10.195         0.017703

                                Item_MRP Outlet_Identifier  \
Item_Type     Item_Fat_Content
Baking Goods  LF                120.1756            OUT049
              Low Fat            85.2250            OUT013
              Regular            51.4008            OUT018
              low fat            76.8354            OUT046
              reg                78.2328            OUT049
...                                  ...               ...
Starchy Foods LF                223.8404            OUT013
              Low Fat           226.8404            OUT035
              Regular            92.9804            OUT013
              low fat           124.0046            OUT013
              reg               239.4538            OUT018

                                Outlet_Establishment_Year Outlet_Size  \
Item_Type     Item_Fat_Content
Baking Goods  LF                                     1999      Medium
              Low Fat                                1987        High
              Regular                                2009      Medium
              low fat                                1997       Small
              reg                                    1999      Medium
...                                                   ...         ...
Starchy Foods LF                                     1987        High
              Low Fat                                2004       Small
              Regular                                1987        High
              low fat                                1987        High
              reg                                    2009      Medium

                               Outlet_Location_Type        Outlet_Type  \
Item_Type     Item_Fat_Content
Baking Goods  LF                             Tier 1  Supermarket Type1
              Low Fat                        Tier 3  Supermarket Type1
              Regular                        Tier 3  Supermarket Type2
              low fat                        Tier 1  Supermarket Type1
              reg                            Tier 1  Supermarket Type1
...                                             ...                ...
Starchy Foods LF                             Tier 3  Supermarket Type1
              Low Fat                        Tier 2  Supermarket Type1
              Regular                        Tier 3  Supermarket Type1
              low fat                        Tier 3  Supermarket Type1
              reg                            Tier 3  Supermarket Type2

                                Item_Outlet_Sales
Item_Type     Item_Fat_Content
Baking Goods  LF                        1332.9316
              Low Fat                   1081.9250
              Regular                    556.6088
              low fat                   2181.8266
              reg                       1158.4920
...                                           ...
Starchy Foods LF                        3600.6464
              Low Fat                   6301.1312
              Regular                   1929.4884
              low fat                   1618.5598
              reg                       3605.3070

[67 rows x 10 columns]

In [16]:
multiple_groups.Item_MRP.mean()

Item_Type      Item_Fat_Content
Baking Goods   LF                  141.745920
               Low Fat             121.039406
               Regular             130.180973
               low fat             108.780667
               reg                 109.276914
                                      ...
Starchy Foods  LF                  177.668600
               Low Fat             157.111395
               Regular             137.286939
               low fat             124.004600
               reg                 175.316800
Name: Item_MRP, Length: 67, dtype: float64

In [18]:
#group on multiple columns 
multiple_groups = data.groupby(['Outlet_Location_Type', 'Outlet_Size'])
multiple_groups.first()

                                 Item_Identifier  Item_Weight  \
Outlet_Location_Type Outlet_Size
Tier 1               Medium                FDA15         9.30
                     Small                 FDA03        18.50
Tier 2               Small                 FDU02        13.35
Tier 3               High                  NCD19         8.93
                     Medium                DRC01         5.92

                                 Item_Fat_Content  Item_Visibility  \
Outlet_Location_Type Outlet_Size
Tier 1               Medium               Low Fat         0.016047
                     Small                Regular         0.045464
Tier 2               Small                Low Fat         0.102492
Tier 3               High                 Low Fat         0.000000
                     Medium               Regular         0.019278

                                    Item_Type  Item_MRP Outlet_Identifier  \
Outlet_Location_Type Outlet_Size
Tier 1               Medium             Dairy  249.8092            OUT049
                     Small              Dairy  144.1102            OUT046
Tier 2               Small              Dairy  230.5352            OUT035
Tier 3               High           Household   53.8614            OUT013
                     Medium       Soft Drinks   48.2692            OUT018

                                  Outlet_Establishment_Year  \
Outlet_Location_Type Outlet_Size
Tier 1               Medium                            1999
                     Small                             1997
Tier 2               Small                             2004
Tier 3               High                              1987
                     Medium                            2009

                                        Outlet_Type  Item_Outlet_Sales
Outlet_Location_Type Outlet_Size
Tier 1               Medium       Supermarket Type1          3735.1380
                     Small        Supermarket Type1          2187.1530
Tier 2               Small        Supermarket Type1          2748.4224
Tier 3               High         Supermarket Type1           994.7052
                     Medium       Supermarket Type2           443.4228

Q2: How are outlet sizes distributed based on the city type? : crosstab

In [19]:
#generate crosstab of outlet size and outlet location type 
pd.crosstab(data['Outlet_Size'], data['Outlet_Location_Type'], margins=True)

Outlet_Location_Type  Tier 1  Tier 2  Tier 3   All
Outlet_Size
High                       0       0     932   932
Medium                   930       0     928  1858
Small                    930     930       0  1860
All                     1860     930    1860  4650

Q3: How are the sales changing per year? :pivottable

In [20]:
#create pivot table 
pd.pivot_table(data, index=['Outlet_Establishment_Year'], values='Item_Outlet_Sales')

                           Item_Outlet_Sales
Outlet_Establishment_Year
1987                             2298.995256
1997                             2277.844267
1999                             2348.354635
2004                             2438.841866
2009                             1995.498739

In [21]:
pd.pivot_table(data, index=['Outlet_Establishment_Year','Outlet_Location_Type', 'Outlet_Size'], values='Item_Outlet_Sales')

                                                            Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Location_Type Outlet_Size
1987                      Tier 3               High               2298.995256
1997                      Tier 1               Small              2277.844267
1999                      Tier 1               Medium             2348.354635
2004                      Tier 2               Small              2438.841866
2009                      Tier 3               Medium             1995.498739

In [22]:
pd.pivot_table(data, index=['Outlet_Establishment_Year','Outlet_Location_Type', 'Outlet_Size'], values='Item_Outlet_Sales', aggfunc=[np.mean,np.median, np.std, min, max])

,,,mean,median,std,min,max
,,,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales
Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Size,,,,,
1987,Tier 3,High,2298.995256,2050.6640,1533.531664,73.2380,10256.6490
1997,Tier 1,Small,2277.844267,1945.8005,1488.405631,101.8674,9779.9362
1999,Tier 1,Medium,2348.354635,1966.1074,1513.289464,111.8544,7646.0472
2004,Tier 2,Small,2438.841866,2109.2544,1538.512533,113.8518,8479.6288
2009,Tier 3,Medium,1995.498739,1655.1788,1375.932889,69.2432,6768.5228